#!/usr/bin/make -f
# -*- makefile -*-
# Debhelper build instructions for timelimit.

CFLAGS+=	-Wall -W
ifneq (,$(filter werror,$(DEB_BUILD_OPTIONS)))
	CFLAGS+=	-Werror
endif
ifeq (,$(filter nohardening,$(DEB_BUILD_OPTIONS)))
export DEB_BUILD_HARDENING=1
else
export DEB_BUILD_HARDENING=0
endif

build:
	dh "$@"

clean:
	dh "$@"

install: build
	dh "$@" --before dh_auto_install
	dh_auto_install -- PREFIX=/usr MANDIR=/usr/share/man/man \
	  BINGRP=root MANGRP=root
	dh "$@" --remaining


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh "$@"

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
